.root {
  display: flex;
  flex-direction: column;
}

.greeting {
  font-family: monospace;
  color: rgb(35 55 75 / 90%);
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  border-radius: 4px;
}

.text {
  color: rgb(35 55 75 / 90%);
  font-family: monospace;
}

input::file-selector-button {
  font-family: monospace;
  color: #fff;
  background-color: rgb(35 55 75 / 90%);
  margin-left: 0.5em;
  border-radius: 3px;
}